.hero{
    width: 100%;
    height: 30rem;
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../../assets/luxury9.jpeg);
    background-size: cover;
    padding: 10rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
background-repeat: no-repeat;
background-position: center center;
animation: slideBg 10s linear infinite 0s;
animation-timing-function: ease-in-out;
background-repeat: no-repeat;
}
@keyframes slideBg{
    0%{
     background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../../assets/luxury9.jpeg)no-repeat; 
        background-size: cover;
    }  
     25%{
     background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../../assets/luxury3.jpeg)no-repeat;
         background-size: cover;
    }  
     50%{
     background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../../assets/luxury4.jpeg)no-repeat;
         background-size: cover;
    }  
     75%{
     background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../../assets/luxury5.jpeg)no-repeat;
         background-size: cover;
    }  
     100%{
     background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../../assets/logowhite3.png)no-repeat; 
         background-size: cover;
    }  
}


@media (max-height: 500px) {
    .hero{
        padding: 2rem;
    } 
   
  }
  
  @media (max-width: 640px) {
    .hero{
        padding: 2rem;
    } 
    
  }
  
  @media (max-height: 600px) {
    .hero{
        padding: 2rem;
    } 
   
  }
  
  @media (max-width: 640px) {
    .hero{
        padding: 2rem;
    } 
   
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
   
    .hero{
        padding: 2rem;
    } 
    
  }


